
.btnMenu{
  color: black;
  min-height: 5vh;
  min-width:20vw;
  font-weight: 400;
  border: 5px solid #e9ecef;
  font-size: 3rem;
  line-height: 3.25;
  border-radius: 2rem;
  transition: all .35s ease-in-out;
}


.row-1{
  display: flex;
    flex-wrap: wrap;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

.nav-tabs .nav-link , .nav-link a{
  color: #495057;
  font-size: 20px;
  border: 3px solid transparent;
}

.nav{
  width: 150%;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color:white;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.btn-primary{
  color:white
}
a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color:white;
  cursor: pointer;
}

.paginate_button a{
  color:black;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

.hidden {
  display: none ;
}

.d-block{
  display: block;
}

.form-inline {
  display: block;

}
.paginate_button{
  margin-left: 5px;
  margin-right: 5px;
}

.parent, .parent-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-but{
  margin-left:25vw ;
}

.table-fs{
  font-size: 17px;
}
.table-fs1{
  font-size: 19px;
}
.two-but{
  margin-left:35vw;
}

.loader{
  background-image:url('/static/images/ajax-loader.gif') ; 
  height: 0;
  width:50%;
  background-position:left ;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all .5s ease-in-out;
}
.loader-active{
  height:5vw ;

}

#member_report_table, #book_report_table{
  width: 200%;
  min-width: 100%;
  max-width: 150%;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  [class*="but-col"] {
    
    margin-bottom:10px;
    font-size:10px;
  }
  [class*="import-but"] {
    margin-left: -1.5rem;
    margin-right: -30px;
  }
  [class*="btn-lg-res"]{
    font-size:35px!important;
  }
  [class*="btn-lg"]{
    font-size:15px;
  }

  [class*="dataTables_filter"]{
    margin-top: 10px;
    margin-left: -15px;
  }

  [class*="btnMenu"]{
    margin-top: 10px;
  }

  [class*="table-fs"]{
    font-size: 12px;
  }

  [class*="two-but"]{
    margin-left: 0;
  }

  [class*="parent-1"]{
    display:block;
    margin-top: -50px;
  }

}

