<!DOCTYPE html>
<html lang="en">
<head>
	<title>Book Store</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">


</head>
<body style="background-color: white;">
	<div class="head row-1" >
		<nav class="navbar navbar-dark navbar-expand-sm  fixed-top" style='background-color:#4946e7;height: 5rem;'>
			<div class="container" style="max-width:100%;">
				<a class="navbar-brand" href="{{ url_for('index')}}">
					<img src="{{ url_for('static', filename='images/dbit.png') }}"  style="max-height: 65px;" class="d-inline-block align-top" >
					<span style="margin-bottom: -20px;" class=" m-l-5 fs-45">LMS</span>
				</a>
				<ul class="navbar-nav mr-left">
					{% if session['logged_in'] == True %}
					<li class="nav-item btn">
						<div id='' class="row  ">
							<span style="color: azure;" class="fs-40 m-r-40"><b> {{ session['user']['name'] }}</b></span>
						</div>
						{% if session['user']['admin'] %}
						<div id='' class="row  ">
							<span class="fs-15 m-r-40 " style="background-color:rgb(255, 255, 255);color:rgb(2, 1, 1)">Admin access enabled</b></span>
						</div>
						{% endif %}
					</li>
					<li class="nav-item btn"><a class="nav-link fs-25" href="{{ url_for('signout')}}">Logout</a></li>
					{% endif %}
				</ul>  
			</div>
		</nav>
	</div>

    {%block body %} {% endblock %}
	
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/chosen.jquery.js') }}" type="text/javascript"></script>
  	<script src="{{ url_for('static', filename='js/prism.js') }}" type="text/javascript" charset="utf-8"></script>
	<!--===============================================================================================-->
	<script src="http://vitalets.github.io/x-editable/assets/mockjax/jquery.mockjax.js"></script>
<script src="http://vitalets.github.io/x-editable/assets/momentjs/moment.min.js"></script>


	<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> 
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->

	<script src="/static/js/main.js"></script>
	{% block script %}{% endblock %}

</body>
</html>